footer {
  padding: 60px;
  background-color: #42291F;
  text-align: center;
}

.links a i {
  color: #E4D5C8;
  font-size: 2.5em;
  margin: 0 10px;
}

.links p {
  color: #AEA69B;
  font-size: 1.25em;
}

/* Cork
#42291F

Dust Storm
#E4D5C8

Bronco
#AEA69B

Monsoon
#8C8B8C */
